<div class="contendor">
    <form action="/crear-cuenta" method="POST" class="default-form">
        <div class="campo">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" placeholder="Nombre">
        </div>
        <div class="campo">
            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="Email">
        </div>
        <div class="campo">
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Contraseña">
        </div>
        <div class="campo">
            <label for="confirmar">Repetir Contraseña:</label>
            <input type="password" name="confirmar" placeholder="Confirmar contraseña">
        </div>
        <div class="campo acciones">
            <a href="/iniciar-sesion">Volver a iniciar sesion</a>
        </div>
        <div class="campo">
            <input type="submit" value="Crear Cuenta" class="btn btn-azul">
        </div>
    </form>
</div>